{% layout "layout" %}
{% block content %}
<h1>{{ pageTitle }}</h1>

{% if posts.size == 0 %}
  <p>Chưa có bài viết nào.</p>
{% else %}
  <div>
    {% for post in posts %}
      {% render "components/post/card", post: post, variant: "list", postUrlPrefix: postUrlPrefix, postCategoryPathPrefix: postCategoryPathPrefix %}
    {% endfor %}
  </div>

  {% render "components/common/pagination", basePath: "/blog", currentPage: currentPage, totalPages: totalPages %}
{% endif %}
{% endblock %}
