{% if fields.size > 0 %}
<div>
  <h3>Thông tin thêm</h3>
  <dl>
    {% for pair in fields %}
      <dt>{{ pair[0] | escape }}</dt>
      <dd>{{ pair[1] | escape }}</dd>
    {% endfor %}
  </dl>
</div>
{% endif %}
