<footer>
  {% if footerMenu and footerMenu.items.size > 0 %}
    <nav>
      {% for item in footerMenu.items %}<a href="{{ item.url }}">{{ item.label | escape }}</a>{% endfor %}
    </nav>
  {% endif %}
  © {{ year }} {{ site.siteName }}
</footer>
