{% layout "layout" %}
{% block content %}
<article>
  {% if page.coverImage %}
    <img src="{{ page.coverImage }}" alt="{{ page.title }}">
  {% endif %}
  <h1>{{ page.title | escape }}</h1>
  <div>
    {{ page.body }}
  </div>
</article>
{% endblock %}
